<ion-card>
  <ion-card-header>
    <ion-input readonly="true" label="Senhas Atendidas: "></ion-input>
  </ion-card-header>

  <ion-button expand="block" color="primary" (click)="chamarProximaSenha()"
    >Chamar próxima senha</ion-button
  >
</ion-card>

<ion-card
  *ngIf="senhasService.senhaChamada && senhasService.inputNovaSenha !== 'Não há mais senhas'"
>
  <ion-card-content>
    <ion-list-header>Senhas atendidas:</ion-list-header>
  </ion-card-content>
  <ion-item *ngFor="let senha of senhasService.senhasChamadas">
    <ion-icon
      [name]="iconName(senha.tipo)"
      [color]="iconColor(senha.tipo)"
      slot="start"
    ></ion-icon>
    <ion-label>{{ senha.numero }}</ion-label>
    <ion-label>{{ senha.tempoDecorrido }}</ion-label>
  </ion-item>
</ion-card>

<ion-card *ngIf="senhasService.inputNovaSenha === 'Não há mais senhas'">
  <ion-card-content>
    <ion-list-header>Não há mais senhas</ion-list-header>
  </ion-card-content>
</ion-card>
