<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-label>Relatório: </ion-label>
      <ion-item>
        <ion-label>Senhas emitidas:</ion-label>
        <ion-label>
          <span *ngFor="let senha of senhasService.senhas">
            {{ senha.numero }} ({{ senha.tipo }}),
          </span>
          <span *ngFor="let senha of senhasService.senhasChamadas">
            {{ senha.numero }} ({{ senha.tipo }}),
          </span>
        </ion-label>
      </ion-item>
      <ion-item>Senhas Geral: {{senhasService.senhasGeral}}</ion-item>
      <ion-item>Senhas Prioritária: {{senhasService.senhasPrior}}</ion-item>
      <ion-item>Senhas Exame: {{senhasService.senhasExame}}</ion-item>
      <ion-item>Senhas Total: {{senhasService.senhasTotal}}</ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
